<a href="https://colab.research.google.com/github/abel030/study/blob/main/%EC%99%80%EC%9D%B8_%EA%B3%B5%EB%AA%A8%EC%A0%84_%EA%B3%B5%EB%B6%80.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd

In [54]:
## 데이터의 구성을 가장 먼저 확인한다. read로 불러오고 출력해본다. 


test = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/와인 공모전 공부/train.csv")
realtest=test.drop(['index'],axis=1)
realtest
#test.sample # 행과 열의 갯수를 확인

,quality,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,type
0,5,5.6,0.695,0.06,6.8,0.042,9.0,84.0,0.99432,3.44,0.44,10.2,white
1,5,8.8,0.610,0.14,2.4,0.067,10.0,42.0,0.99690,3.19,0.59,9.5,red
2,5,7.9,0.210,0.39,2.0,0.057,21.0,138.0,0.99176,3.05,0.52,10.9,white
3,6,7.0,0.210,0.31,6.0,0.046,29.0,108.0,0.99390,3.26,0.50,10.8,white
4,6,7.8,0.400,0.26,9.5,0.059,32.0,178.0,0.99550,3.04,0.43,10.9,white
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5492,5,7.7,0.150,0.29,1.3,0.029,10.0,64.0,0.99320,3.35,0.39,10.1,white
5493,6,6.3,0.180,0.36,1.2,0.034,26.0,111.0,0.99074,3.16,0.51,11.0,white
5494,7,7.8,0.150,0.34,1.1,0.035,31.0,93.0,0.99096,3.07,0.72,11.3,white
5495,5,6.6,0.410,0.31,1.6,0.042,18.0,101.0,0.99195,3.13,0.41,10.5,white
5496,6,7.0,0.350,0.17,1.1,0.049,7.0,119.0,0.99297,3.13,0.36,9.7,white

In [61]:
sample = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/와인 공모전 공부/sample_submission.csv")

realsample = sample.drop(['index'],axis=1)
realsample

     quality
0          0
1          0
2          0
3          0
4          0
..       ...
995        0
996        0
997        0
998        0
999        0

[1000 rows x 1 columns]

sample['quality'].value_counts()  sample 의 퀄리티가 진짜 전부 0인가? 확인해보자.

변수['확인해볼 칼럼'].unique() 
몇개 있는지 확인해볼까?변수['확인해볼 칼럼'].value_counts()
확인결과 전부 0.

#sample.describe()

In [46]:
train = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/와인 공모전 공부/train.csv")
train
realtrain = train.drop(['index'], axis=1) # axis=1이 열 ,axis=0 이 행이다. 즉, 드랍하고 ['이름']  열인지 행인지 지정.
realtrain

,quality,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,type
0,5,5.6,0.695,0.06,6.8,0.042,9.0,84.0,0.99432,3.44,0.44,10.2,white
1,5,8.8,0.610,0.14,2.4,0.067,10.0,42.0,0.99690,3.19,0.59,9.5,red
2,5,7.9,0.210,0.39,2.0,0.057,21.0,138.0,0.99176,3.05,0.52,10.9,white
3,6,7.0,0.210,0.31,6.0,0.046,29.0,108.0,0.99390,3.26,0.50,10.8,white
4,6,7.8,0.400,0.26,9.5,0.059,32.0,178.0,0.99550,3.04,0.43,10.9,white
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5492,5,7.7,0.150,0.29,1.3,0.029,10.0,64.0,0.99320,3.35,0.39,10.1,white
5493,6,6.3,0.180,0.36,1.2,0.034,26.0,111.0,0.99074,3.16,0.51,11.0,white
5494,7,7.8,0.150,0.34,1.1,0.035,31.0,93.0,0.99096,3.07,0.72,11.3,white
5495,5,6.6,0.410,0.31,1.6,0.042,18.0,101.0,0.99195,3.13,0.41,10.5,white
5496,6,7.0,0.350,0.17,1.1,0.049,7.0,119.0,0.99297,3.13,0.36,9.7,white

In [49]:
realtrain.shape

(5497, 13)

In [ ]:
# 퀄리티 열을 따로 저장했다가 드랍한다.

SyntaxError: ignored